<form method="POST" action="/doc/store" enctype="multipart/form-data" id="upload-form">
    <div class="form-group mb-3">
        <label for="exampleFormControlTextarea1">Enter your title</label>
        <textarea class="form-control" id="title" name="title" rows="1"
            placeholder="Eg. Calculus 1 - Formula"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Choose your file</label>
        <input class="form-control form-control-sm" id="file" name="file" type="file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
