<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="https://i.ibb.co/0sVcKv1/Dost.png" alt="Dost" border="0" height="80px" width="160px"/>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 active">Home</a></li>
      <li><a href="/doc/upload" class="nav-link px-2">Upload</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

        <div class="col-md-3 text-end">
            <a href="/login/logout">
                <button
                    type="button"
                    class="btn btn-outline-primary me-2"
                >Logout</button>
            </a>
            <a href = "/profile">
            <img
                href = "/profile"
                src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                class="rounded-circle shadow-4"
                style="width: 38px;"
                alt="Avatar"
            />
            </a>

        </div>
    </header>
</div>